section.content2{
    padding:2rem 0;    
}
.row{
    clear: both;
}
.col-2{
    width:50%;
    float:left;
    padding-bottom: 2rem;
    border-left:1px solid $dark-blue;
    margin-bottom: 2rem;
}

/*
CONTENT
*/

.content2 {
    h3 {
        font-size: 1.999rem;
        padding: 1rem 2rem 0.5rem;
    }
    h4 {
        font-size: 1.999rem;
        padding: 1rem 2rem 0rem;
    }
    p {
        font-size: 1.414rem;
        padding: 0.5rem 2rem 1rem;
    }
    li {
        padding: 0.5rem 2rem;
        font-size: 1.414rem;
    }
}