header {
    width: 400px;
    /* default */
    margin: 0 auto;
    position: relative;
    h1 {
        width: 100%;
        padding: 0 2rem;
    }
    nav {
        width: 100%;
    }
    ul {
        li {
            width: 100%;
            float: none;
        }
    }
}
/**
NAV
**/

    header {
    nav {
        padding: 2rem 0;
        clear: both;
        ul {
            li {
                a {
                    display: block;
                    text-align: center;
                    text-decoration: none;
                    color: $dark-grey;
                    font-size: 1.414rem;
                    letter-spacing: 0.25rem;
                    border: 1px solid $light-grey;
                    border-bottom: none;
                    padding: 1.0rem 2rem;
                    line-height: 1;
                    background-color: #fff;
                    &:hover {
                        font-weight: 700;
                        color: $dark-brown;
                    }
                }
            }
        }
    }
}

/**
CONTENT
**/

header {
    h1 {
        color: $dark-brown;
        letter-spacing: 0.1rem;
        i.fa-lg {
            display: block;
            width: 25%;
            float: left;
            font-size: 7rem;
            line-height: 12.7936rem;
            color: $light-brown;
        }
        i.fa-lg ~ span {
            float: right;
            width: 75%;
            font-size: 3.998rem;
            /**
    2 lines of 3.998 * 1.6 = 12.7936
    **/
            padding-left: 1rem;
            text-align: right;
        }
    }
}